/*user-select: none;
  pointer-events: none;*/

.imposterSegment {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-basis: 0;
}

.label {
  color: rgb(224, 10, 11);
  text-decoration: none;
  padding: 0 1rem;
  /*margin: 0 1rem;*/
}

@media (max-width: 320px) {
  .label {
    padding: 0;
  }
}
