* {
  box-sizing: border-box;
}

/* Add's 2px border around the component without impacting
it's measured width */
.borderWrapper {
  border: 2px solid rgb(224, 10, 11);
  border-radius: 10px;
  overflow: hidden;
}

.segmentedControl {
  display: block;
  overflow: hidden;
  height: 2rem;
}

.segmentedControl > * {
  font-weight: 500;
}

.listContainer {
  display: block;
  height: 100%;
  position: relative;
}

.stepper {
  position: relative;
  height: 100%;
  width: 25%;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  transition: transform 250ms ease-out;
}

.imposterListContainer {
  z-index: 10;
  pointer-events: none;
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imposterList {
  transition: transform 250ms ease-out;
  z-index: 10;
  display: flex;
  position: fixed;
  background: #fff;
  width: 400%;
  height: 100%;
}

.list {
  z-index: 1;
  display: flex;
  white-space: nowrap;
  list-style: none;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

html[data-theme='b'] .list {
  background: limegreen;
}

html[data-theme='cb'] .list {
  background: darkred;
}

html[data-theme='yb'] .list {
  background: lightskyblue;
}

html[data-theme='vm'] .list {
  background: rgb(224, 10, 11);
}

.list {
  background: rgb(224, 10, 11);
}
