
//
// Mixin for Dyb Cb Yb colors 
//-------------------------------------------

// ---- This is for changin theme from parent class
@mixin brand-theme($property_name) {
	
	// For Development environment
	//---------------------------
	@if (config(env) == dev) {
		#{$property_name}: bow-palette((color: grey, brand: base)...);
		
		.dyb & {
			#{$property_name}: bow-palette( blue, account, dyb);
		}
		.cb & {
			#{$property_name}: bow-palette((color: red, brand: cb)...);
		}
		.yb & {
			#{$property_name}: bow-palette((color: blue, brand: yb)...);
		}
	}


	// For Production environment
	//---------------------------
	@else if (config(env) == prod) {
		@if (config(brand) == dyb) {
			#{$property_name}: bow-palette( blue, account, dyb);
		}
		@else if (config(brand) == cb) {
			#{$property_name}: bow-palette((color: red, brand: cb)...);
		}
		@else if (config(brand) == yb) {
			#{$property_name}: bow-palette((color: blue, brand: yb)...);
		}
		@else {
			#{$property_name}: bow-palette((color: grey, brand: base)...);
		}
	}


	// If no enviroment or brand found
	//---------------------------------
	@else {
		#{$property_name}: bow-palette((color: grey, brand: base)...);
	}
}




// ---- This is for Base color vs brand colors
@mixin general-theme($property_name, $color, $shade) {

	// For Development environment
	//---------------------------
	@if (config(env) == dev) {
		#{$property_name}: bow-palette((color: grey, brand: base)...);
		
		.dyb & {
			#{$property_name}: bow-palette($color, $shade, dyb);
		}
		.cb & {
			#{$property_name}: bow-palette((color: red, brand: cb)...);
		}
		.yb & {
			#{$property_name}: bow-palette((color: blue, brand: yb)...);
		}
	}


	// For Production environment
	//---------------------------
	@else if (config(env) == prod) {
		@if (config(brand) == dyb) {
			#{$property_name}: bow-palette($color, $shade, dyb);
		}
		@else if (config(brand) == cb){
			#{$property_name}: bow-palette((color: red, brand: cb)...);
		}
		@else if (config(brand) == yb) {
			#{$property_name}: bow-palette((color: blue, brand: yb)...);
		}
		@else {
			#{$property_name}: bow-palette((color: grey, brand: base)...);
		}
	}


	// If no enviroment or brand found
	//---------------------------------
	@else {
		#{$property_name}: bow-palette($color, $shade, dyb);
	}
}




// ---- This is for defining dyb, cb and yb color and shades
@mixin other-theme($property_name, $dybcolor, $dybshade, $cbcolor, $cbshade, $ybcolor, $ybshade) {

	// For Development environment
	//---------------------------
	@if (config(env) == dev) {
		#{$property_name}: bow-palette((color: grey, brand: base)...);
		
		.dyb & {
			#{$property_name}: bow-palette($dybcolor, $dybshade, dyb);
		}
		.cb & {
			#{$property_name}: bow-palette($cbcolor, $cbshade, cb);
		}
		.yb & {
			#{$property_name}: bow-palette($ybcolor, $ybshade, yb);
		}
	}


	// For Production environment
	//---------------------------
	@else if (config(env) == prod) {
		@if (config(brand) == dyb) {
			#{$property_name}: bow-palette($dybcolor, $dybshade, dyb);
		}
		@else if (config(brand) == cb) {
			#{$property_name}: bow-palette($cbcolor, $cbshade, cb);
		}
		@else if (config(brand) == yb) {
			#{$property_name}: bow-palette($ybcolor, $ybshade, yb);
		}
		@else {
			#{$property_name}: bow-palette((color: grey, brand: base)...);
		}
	}

	// If no enviroment or brand found
	//---------------------------------
	@else {
		#{$property_name}: bow-palette((color: grey, brand: base)...);
	}
}




// ---- Common color for CB/YB/B and base in grey
@mixin common-theme($property_name, $c-color, $c-shade: base) {

	// For Development environment
	//---------------------------
	@if (config(env) == dev) {
		#{$property_name}: bow-palette((color: grey, brand: base)...);
		
		.dyb & ,
		.cb & ,
		.yb & {
			#{$property_name}: bow-palette($c-color, $c-shade);
		}
	}


	// For Production environment
	//---------------------------
	@else if (config(env) == prod) {
		@if (config(brand) == dyb or config(brand) == cb or config(brand) == yb) {
			#{$property_name}: bow-palette($c-color, $c-shade, base);
		}
		@else {
			#{$property_name}: bow-palette((color: grey, brand: base)...);
		}
	}


	// If no enviroment or brand found
	//---------------------------------
	@else {
		#{$property_name}: bow-palette((color: grey, brand: base)...);
	}
}




// ---- Common color for CB/YB/B and base in white
@mixin common-color-base-white($property_name, $c-color, $c-shade) {

	// For Development environment
	//---------------------------
	@if (config(env) == dev) {
		#{$property_name}: bow-palette((color: white, brand: base)...);
		
		.dyb & ,
		.cb & ,
		.yb & {
			#{$property_name}: bow-palette($c-color, $c-shade);
		}
	}


	// For Production environment
	//---------------------------
	@else if (config(env) == prod) {
		@if (config(brand) == dyb or config(brand) == cb or config(brand) == yb) {
			#{$property_name}: bow-palette($c-color, $c-shade);
		}
		@else {
			#{$property_name}: bow-palette((color: white, brand: base)...);
		}
	}

	// If no enviroment or brand found
	//---------------------------------
	@else {
		#{$property_name}: bow-palette((color: white, brand: base)...);
	}
}




// ------

// ---- For CB/YB/B brand colors return.
@mixin drop-brand-color() {
	// For Development environment
	//---------------------------
	@if (config(env) == dev) {
		// .dyb &{
		// 	background: url('../images/bow/icons/icon__chevron-down-white.svg') calc(100% - 7px) calc(100% + -6px) no-repeat,linear-gradient(to right, bow-palette( blue, account, dyb), bow-palette( blue, account, dyb)) right/48px 48px no-repeat;
		// 	background-color: white;
		// }
		// .cb &{
		// 	background: url('../images/bow/icons/icon__chevron-down-white.svg') calc(100% - 7px) calc(100% + -6px) no-repeat,linear-gradient(to right, bow-palette((color: red, brand: cb)...), bow-palette((color: red, brand: cb)...)) right/48px 48px no-repeat;
		// 	background-color: white;
		// }
		// .yb &{
		// 	background: url('../images/bow/icons/icon__chevron-down-white.svg') calc(100% - 7px) calc(100% + -6px) no-repeat,linear-gradient(to right, bow-palette((color: blue, brand: yb)...), bow-palette((color: blue, brand: yb)...)) right/48px 48px no-repeat;
		// 	background-color: white;
		// }
	}



	// For Production environment
	//---------------------------
	@else if (config(env) == prod) {

		@if (config(brand) == dyb) {
			background: url('../images/icon__chevron-down-white.svg') calc(100% - 7px) calc(100% + -6px) no-repeat,linear-gradient(to right, bow-palette( blue, account, dyb), bow-palette( blue, account, dyb)) right/48px 48px no-repeat;
			background-color: white;
		}
		@else if (config(brand) == cb) {
			background: url('../images/icon__chevron-down-white.svg') calc(100% - 7px) calc(100% + -6px) no-repeat,linear-gradient(to right, bow-palette((color: red, brand: cb)...), bow-palette((color: red, brand: cb)...)) right/48px 48px no-repeat;
			background-color: white;
		}
		@else if (config(brand) == yb) {
			background: url('../images/icon__chevron-down-white.svg') calc(100% - 7px) calc(100% + -6px) no-repeat,linear-gradient(to right, bow-palette((color: blue, brand: yb)...), bow-palette((color: blue, brand: yb)...)) right/48px 48px no-repeat;
			background-color: white;
		}
		@else {
			background: url('../images/icon__chevron-down-white.svg') calc(100% - 7px) calc(100% + -6px) no-repeat,linear-gradient(to right, bow-palette((color: grey, brand: base)...), bow-palette((color: grey, brand: base)...)) right/48px 48px no-repeat;
			background-color: white;
		}
	}



	// If no enviroment or brand found
	//---------------------------------
	@else {
		background: url('../images/bow/icons/icon__chevron-down-white.svg') calc(100% - 7px) calc(100% + -6px) no-repeat,linear-gradient(to right, bow-palette((color: grey, brand: base)...), bow-palette((color: grey, brand: base)...)) right/48px 48px no-repeat;
		background-color: white;
	}
}
