///*----------------------------------*\
//  #COLORS PALETTE
//\*----------------------------------*/

// scss-lint:disable ColorVariable


$bow-palette: (
	base: (
		black: (
			base: 					#000
		),

		white: (
			base: 					#fff
		),

		grey: (
			x-light: 				#f4f4f4,
			light: 					#e7e7e7,
			base: 					#c9c9c9,
			dark: 					#8e8e8e,
			x-dark: 				#57595e,
			opaque-light: 			rgba(235, 235, 235, .2),
			opaque-dark: 			rgba(0, 0, 0, .6),
			text: 					#4a4a4a,
			odd-cell: 				#f8f7ff,
			disabled-cell: 			#d8d8d8,
			disabled-text: 			#716f6f,
		),

		red: (
			x-light: 				#ffcccc,
			dark: 					#d41500,
		),
		green: (
			x-light: 				#f3f9f4,
			dark: 					#799a58,
			light: 					#9cdd00,
		),
		blue: (
			x-light: 				#dce7f1,
			base: 					#00a4b3,
		),
		orange: (
			base: 					#f16a2f,
		),
		transparent: (
			base: 					transparent,
		)
	),

	dyb: (
		red: (
			light: 					rgba(228,32,14, 0.2),
			base: 					#f00000,
			dark: 					#e4200e,
			warning: 				#ec395a,
		),

		green: (
			base: 					#008748,
			light: 					#9cdd00,
			x-light:				rgba(156, 221, 0, 0.2)
		),

		blue: (
			original: 				#0000ff,
			base: 					#00a4b3,
			account: 				#7f5Bff,
			account-x-light: 		#ece9f9,
			account-dark: 			#483393,
			odd-cell: 				#f8f7ff,
			light: 					#9175F7,
			x-light: 				#DCE7F1,
		),

		orange: (
			base: 					#f16a2f,
		),

		purple: (
			light: 					#da9af3,
			base: 					#f75bff,
			dark: 					#a100e1,
		),

		teal: (
			base: 					#00a4b3,
			dark: 					#00697D,
		),
		
		pink: (
			light: 					rgba(161, 0, 255, 0.5),
			x-light: 				rgba(161, 0, 255, .1),
			base: 					#c213ef,
			core: 					#e30088
		),
	),

	cb: (
		red: (
			x-light: 				#fef4f3,
			light: 					#ffcccc,
			base: 					#e4200e
		)
	),

	yb: (
		blue: (
			x-light: 				#f2fafd,
			light: 					#80c9e6,				//#dcd7f1,
			base: 					#0093cd
		)
	)
);

@function bow-palette($color, $tone: 'base', $brand: 'base') {
	@return map-get(map-get(map-get($bow-palette, $brand), $color), $tone);
}


