// =============================================================================
// _setting.grid
// =============================================================================
// 
// These grid based variables are used to define grid rules and settings.


// Grid column count
// =================
// This setting is used to control the number of columns.

$grid-columns: 24 !default;


// Grid options
// ============

// Quickly modify global styling by enabling or disabling optional features.

$grid-classes-enabled: true !default;
$grid-flex-enabled: true !default;




// Grid breakpoint widths
// ======================
// This setting is used to define grid breakpoint names and sizes.

$grid-breakpoints: (
	xs1: 	0,
	xs2: 	480px,
	sm1: 	600px,
	sm2: 	840px,
	md1: 	960px,
	lg1: 	1280px,
	lg2: 	1440px,
	lg3: 	1600px,
	xl1: 	1920px
) !default;


// Grid gutter widths
// ==================
// This setting is used to define grid gutter width names and sizes.

$grid-gutter-width-base: 16px !default;

$grid-gutter-widths: ( 
	xs1: 	16px,
	xs2:  	16px,
	sm1:  	24px,
	sm2:  	24px,
	md1: 	32px,
	lg1:  	40px,
	lg2:  	40px,
	lg3:  	40px,
	xl1: 	48px
) !default;


$enable-flex: true;

$enable-grid-classes: true !default;


$enable-grid-classes: true;
$enable-flex: true;

$grid-columns: 24;
$grid-gutter-width-base: 30px;
$grid-breakpoints: (
	xs1: 	0,
	xs2: 	480px,
	sm1: 	600px,
	sm2: 	840px,
	md1: 	960px,
	lg1: 	1280px,
	lg2: 	1440px,
	lg3: 	1600px,
	xl1: 	1920px
);
// for using breakpoints as variables
	$xs1: 	0;
	$xs2: 	480px;
	$sm1: 	600px;
	$sm2: 	840px;
	$md1: 	960px;
	$lg1: 	1280px;
	$lg2: 	1440px;
	$lg3: 	1600px;
	$xl1: 	1920px;

$container-max-widths: (
	xl1: 	1920px
);

$grid-gutter-widths: (
	xs1:  16px,
	xs2:  16px,
	sm1:  24px,
	sm2:  24px,
	md1:  32px,
	lg1:  40px,
	lg2:  40px,
	lg3:  40px,
	xl1:  48px
);

$container-padding: (
	xs1: 	16px,
	xs2: 	16px,
	sm1: 	24px,
	sm2: 	24px,
	md1: 	24px,
	lg1: 	32px,
	lg2: 	32px,
	lg3: 	32px,
	xl1: 	32px
);
$page-top-padding: (
	xs1: 	115px,
	lg1: 	140px,

);
$page-bottom-padding: (
	xs1: 	90px,
	lg1: 	90px,
);

$breakpoint-groups: (
	xs1: map-get($grid-breakpoints, xs1),
	sm1: map-get($grid-breakpoints, sm1),
	md1: map-get($grid-breakpoints, md1),
	lg1: map-get($grid-breakpoints, lg1),
	xl1: map-get($grid-breakpoints, xl1)
);


$gutter-list: (
	xs: 16px,
	sm: 24px,
	md: 32px,
	lg: 40px,
	xl: 48px
);

$margin-list: (
	xs: 16px,
	sm: 24px,
	md: 24px,
	lg: 32px,
	xl: 32px
);

$breakpoints: (
	xs: 0,   
	sm: 600px,
	md: 960px,
	lg: 1280px,
	xl: 1920px
);

$xsmall: $xs1;
$xsmall-max: 599px;
$small: $sm1;
$small-max: 959px;
$medium: $md1;
$medium-max: 1279px;
$large: $lg1;
$large-max: 1919px;
$xlarge: $xl1;