///*----------------------------------*\
//  #FONT THEME
//\*----------------------------------*/


// ----- Font Family and style mixins
//-----------------------------------

@mixin brand-heading ($style: normal) {

	// For Development environment
	//---------------------------
	@if (config(env) == dev) {

		.dyb & {
			@if $style == bold {
				font-family: $dyb-semibold;
			}
			@else {
				font-family: $dyb-regular;
			}
		}
		.cb &,
		.yb & {
			@if $style == bold {
				font-family: $cyb-bold;
			}
			@else {
				font-family: $cyb-medium;
			}
		}
	}



	// For Development environment
	//---------------------------
	@else if (config(env) == prod) {
		@if (config(brand) == dyb) {
			@if $style == bold {
				font-family: $dyb-semibold;
			}
			@else {
				font-family: $dyb-regular;
			}
		}
		@else if (config(brand) == cb or config(brand) == yb) {
			@if $style == bold {
				font-family: $cyb-bold;
			}
			@else {
				font-family: $cyb-medium;
			}
		}
		@else {
			@if $style == bold {
				font-family: $base-bold;
			}
			@else {
				font-family: $base-regular;
			}
		}
	}



	// If no enviroment or brand found
	//---------------------------------
	@else {
		@if $style == bold {
			font-family: $base-bold;
		}
		@else {
			font-family: $base-regular;
		}
	}
}






@mixin brand-text ($style: normal) {

	// For Development environment
	//---------------------------
	@if (config(env) == dev) {
		.dyb &,
		&.dyb {
			@if $style == bold {
				font-family: $dyb-body-bold;
			}
			@else if $style == italic {
				font-family: $dyb-body-italic;
			}
			@else if $style == bold-italic {
				font-family: $dyb-body-bold-italic;
			}
			@else {
				font-family: $dyb-body-regular;
			}
		}
		.cb &,
		.yb &,
		&.cb,
		&.yb {
			@if $style == bold {
				font-family: $cyb-body-bold;
			}
			@else if $style == italic {
				font-family: $cyb-body-italic;
			}
			@else if $style == bold-italic {
				font-family: $cyb-body-bold-italic;
			}
			@else {
				font-family: $cyb-body-regular;
			}
		}
	}


	// For Development environment
	//---------------------------
	@else if (config(prod) == dev) {

		@if (config(brand) == dyb) {
			@if $style == bold {
				font-family: $dyb-body-bold;
			}
			@else if $style == italic {
				font-family: $dyb-body-italic;
			}
			@else if $style == bold-italic {
				font-family: $dyb-body-bold-italic;
			}
			@else {
				font-family: $dyb-body-regular;
			}
		}
		@else if (config(brand) == cb or config(brand) == yb) {
			@if $style == bold {
				font-family: $cyb-body-bold;
			}
			@else if $style == italic {
				font-family: $cyb-body-italic;
			}
			@else if $style == bold-italic {
				font-family: $cyb-body-bold-italic;
			}
			@else {
				font-family: $cyb-body-regular;
			}
		}
		@else {
			@if $style == bold {
				font-family: $base-bold;
			}
			@else if $style == italic {
				font-family: $base-italic;
			}
			@else if $style == bold-italic {
				font-family: $base-bold-italic;
			}
			@else {
				font-family: $base-regular;
			}
		}
	}


	// If no enviroment or brand found
	//---------------------------------
	@else {
		@if $style == bold {
			font-family: $base-bold;
		}
		@else if $style == italic {
			font-family: $base-italic;
		}
		@else if $style == bold-italic {
			font-family: $base-bold-italic;
		}
		@else {
			font-family: $base-regular;
		}
	}
}