//Heading

h1{
    @extend %mull;
    @include brand-heading;
}

h2{
    @extend %islay;
    @include brand-heading;
}

h3, blockquote{
    @extend %orkney;
    @include brand-heading;
}

h4{
    @extend %arran;
    @include brand-heading;
}

h5, h6, p, ul, ol, a {
    @extend %jura;
    margin: 0;
    margin-bottom: 16px;
    @include brand-text;
}

a{
    @include general-theme(color, blue, account);
}

hr{
    margin-bottom: 16px;
}

body{
    color: #4a4a4a;
    @include brand-text;
    @extend %jura;
}
