///*----------------------------------*\
//  #CONFIG
//\*----------------------------------*/

// Project configuration, settings, and feature flags.
$config: (
    project: "ClydesdaleBank-B-IB",
    env: $env,
    debug: true,
    brand: $brand,
);

// Retrieve config values by using `config(key)`, e.g.:
//
// @if (config(debug) == true) { ... }
@function config($key) {
    @return map-get($config, $key);
}
