///*----------------------------------*\
//  #CONFIG
//\*----------------------------------*/

// Project configuration, settings, and feature flags.
$config: (
    project: "ClydesdaleBank-B-IB",
    env: "dev",
    debug: false,
    brand: 'dyb',
);

// Retrieve config values by using `config(key)`, e.g.:
//
// @if (config(debug) == true) { ... }
@function config($key) {
    @return map-get($config, $key);
}
