///*----------------------------------*\
//  #FONT SIZE
//\*----------------------------------*/

$header-tags: 'h1, h2, h3, h4, h5, h6';

//--- Default sizes
//-----------------
$b-fontsize-default: 16px;
$b-fontsize-smaller: 14px;
$b-fontsize-small: 15px;
$b-fontsize-medium: 18px;
$b-fontsize-large: 20px;
$b-fontsize-larger: 22px;


//--- Font-sizes
//--------------

$font-sizes: (
	lewis:(
		xs1:(
			font-size: 37,
			line-height: 44
		),
		sm1:(
			font-size: 39,
			line-height: 44
		),
		md1:(
			font-size: 45,
			line-height: 48
		),
		lg1:(
			font-size: 52,
			line-height: 60
		),
		xl1:(
			font-size: 62,
			line-height: 68
		)
	),
	skye:(
		xs1:(
			font-size: 32,
			line-height: 36
		),
		sm1:(
			font-size: 34,
			line-height: 36
		),
		md1:(
			font-size: 40,
			line-height: 44
		),
		lg1:(
			font-size: 45,
			line-height: 52
		),
		xl1:(
			font-size: 52,
			line-height: 56
		)
	),
	shetland:(
		xs1:(
			font-size: 29,
			line-height: 36
		),
		sm1:(
			font-size: 30,
			line-height: 36
		),
		md1:(
			font-size: 34,
			line-height: 40
		),
		lg1:(
			font-size: 39,
			line-height: 44
		),
		xl1:(
			font-size: 44,
			line-height: 52
		)
	),
	mull:(
		xs1:(
			font-size: 26,
			line-height: 32
		),
		sm1:(
			font-size: 27,
			line-height: 32
		),
		md1:(
			font-size: 29,
			line-height: 36
		),
		lg1:(
			font-size: 33,
			line-height: 40
		),
		xl1:(
			font-size: 37,
			line-height: 44
		)
	),
	islay:(
		xs1:(
			font-size: 23,
			line-height: 28
		),
		sm1:(
			font-size: 24,
			line-height: 32
		),
		md1:(
			font-size: 25,
			line-height: 32
		),
		lg1:(
			font-size: 28,
			line-height: 36
		),
		xl1:(
			font-size: 31,
			line-height: 40
		)
	),
	orkney:(
		xs1:(
			font-size: 20,
			line-height: 28
		),
		sm1:(
			font-size: 21,
			line-height: 28
		),
		md1:(
			font-size: 22,
			line-height: 28
		),
		lg1:(
			font-size: 25,
			line-height: 32
		),
		xl1:(
			font-size: 26,
			line-height: 36
		)
	),
	arran:(
		xs1:(
			font-size: 18,
			line-height: 24
		),
		sm1:(
			font-size: 18,
			line-height: 24
		),
		md1:(
			font-size: 19,
			line-height: 28
		),
		lg1:(
			font-size: 21,
			line-height: 28
		),
		xl1:(
			font-size: 22,
			line-height: 32
		)
	),
	jura:(
		xs1:(
			font-size: 16,
			line-height: 24
		),
		sm1:(
			font-size: 16,
			line-height: 24
		),
		md1:(
			font-size: 16,
			line-height: 24
		),
		lg1:(
			font-size: 18,
			line-height: 28
		),
		xl1:(
			font-size: 18,
			line-height: 28
		)
	),
	uist:(
		xs1:(
			font-size: 14,
			line-height: 20
		),
		sm1:(
			font-size: 14,
			line-height: 20
		),
		md1:(
			font-size: 14,
			line-height: 20
		),
		lg1:(
			font-size: 16,
			line-height: 24
		),
		xl1:(
			font-size: 16,
			line-height: 24
		)
	),
	bute:(
		xs1:(
			font-size: 12,
			line-height: 16
		),
		sm1:(
			font-size: 13,
			line-height: 20
		),
		md1:(
			font-size: 13,
			line-height: 20
		),
		lg1:(
			font-size: 13,
			line-height: 20
		),
		xl1:(
			font-size: 14,
			line-height: 20
		)
	),
	cumbrae:(
		xs1:(
			font-size: 11,
			line-height: 16
		),
		sm1:(
			font-size: 12,
			line-height: 16
		),
		md1:(
			font-size: 12,
			line-height: 16
		),
		lg1:(
			font-size: 12,
			line-height: 16
		),
		xl1:(
			font-size: 13,
			line-height: 16
		)
	)
);
