.segment,
.link {
  height: 100%;
  width: 100%;
  margin: 0;
}

.current {
  /* functional class */
  position: relative;
}

.segment {
  padding: 0 1rem;
  /* margin: 0 1rem; */
  position: relative;
  list-style: none;
  flex-grow: 1;
  flex-basis: 0;
}

@media (max-width: 320px) {
  .segment {
    padding: 0;
  }
}

.visuallyHidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.link {
  display: flex;
  color: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
}
