$calloutwidths: ( xs1 : 343px, xs2 : 343px, sm1 : 720px, sm2 : 720px, md1 : 723px, lg1 : 1022px, lg2 : 1022px, lg3 : 1022px, xl1 : 1380px);
@mixin calloutsize($map, $key) {
    max-width: map-get($calloutwidths, $key);
}

.callout {
    padding: 16px;
    @include common-theme(background-color, blue, x-light);
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    outline: 0;
    @each $breakpoint in $breakpoint-groups {
        $key: nth($breakpoint, 1);
        @include media-breakpoint-up($key) {
            @include calloutsize($calloutwidths, $key);
        }
    }

    p:nth-child(2) {
        margin-bottom: 15px;
    }
    &__icon {
        margin-right: 10px;
        display: inline-block;
    }
    &__wrapper {
        p:first-child {
            padding-bottom: 15px;
        }
    }
    p {
        margin: 0;
    }
    &__full {
        max-width: 100%;
    }
    &__error {
        @include common-theme(background-color, red, x-light);
        @include common-theme(border-color, red, dark);
    }
    &__success {
        @include common-theme(background-color, green, x-light);
        @include common-theme(border-color, green, dark);
    }
    &__txt-center {
        justify-content: center;
    }
    &__feature {
        @include common-theme(background-color, white);
        @include common-theme(border-color, blue, base);
        @include brand-text(bold);
        @include common-theme(color, blue, base);
        width: 100%;
        max-width: 100%;
        display: inline-flex;
        text-align: left;
        @include media-breakpoint-up(md1) {
            max-width: auto;
            width: auto;
        }
    }
    &__inline-error {
        @extend %type--jura;
        margin-top: 5px;
        margin-bottom: 0;
        max-width: 343px;
        @include media-breakpoint-up(md1) {
            max-width: 304px;
        }

        @include media-breakpoint-up(lg1) {
            max-width: 374px;
        }

        @include media-breakpoint-up(xl1) {
            max-width: 428px;
        }
    }
}

.callout--msgbottom {
    max-width: 640px;
}

.callout--product {
    @include common-theme(color, black);
    @include common-theme(border-color, black);
}

.callout--pointer {
    padding: 8px;
    margin-bottom: 0;
    position: relative;
    .callout__wrapper {
        p:first-child {
            padding-bottom: 0;
        }
    }
    &-left {
        margin-left: 20px;
        &:before {
            content: "";
            border-right: 10px solid;
            border-left: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            @include common-theme(border-right-color, blue, x-light);
            position: absolute;
            left: -20px;
        }
    }
    &-right {
        margin-right: 20px;
        &:before {
            content: "";
            border-left: 10px solid;
            border-right: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-top: 10px solid transparent;
            @include common-theme(border-left-color, blue, x-light);
            position: absolute;
            right: -20px;
        }
    }
}