.centralised-container {
    max-width: 640px;
    margin: 0 auto;
    background-color: white;
}

.c-step-header {
    outline-width: 0;

    & :focus {
        outline-width: 0;
    }

     &__title {
        margin-top: 32px;
        margin-bottom: 16px;
        @extend %type--mull; 
        outline-width: 0;
        @include brand-heading(bold);
    }

    &__subtitle {
        margin-top: 16px;
        margin-bottom: 16px;
        font-weight: normal;
        @extend %type--orkney;
        
    }

    &__subtext {
        @extend %type--jura;
        margin-bottom: 24px;
        @include brand-text;
    }

    &__crumbs {
        margin-bottom: 16px; 
        margin-top: 16px;

            .c-step-header__link {
                @extend %type--jura; 
                @include brand-theme(color);
                @include brand-text;

            &:focus {
                @include on-focus();
            }

            .icon {
                vertical-align: middle;
            }
            .c-step-header__linkicon {
                margin-right: 5px;
                svg { @include brand-theme(fill);}
            }
            .back-link {
                text-decoration: underline;
            }
            .c-step-header__linktext {
                text-decoration: underline;
            }
        }

    }

    &__crumbs + &__title {
        margin-top: 16px;
    }

    &__controls {
        .c-step-header__control {
            @include general-theme(fill, blue, account);
            background: transparent;
            margin-bottom: 24px;

            &:hover,
            &:focus {
                background: transparent;
                text-decoration: none;
            }
            
            &:focus {
                @include general-theme(fill, blue, account);
            }

            &:active {
               @include general-theme(background-color, blue, account);
               @include common-theme(fill, white, base);
            }

            &.disabled {
                color: gray;
            }
        }

    }
}
.c-step-header--app-error {
    .c-step-title {
        display: flex;
        align-items: center;
        justify-content: center;
    h2 {
        margin: 40px 0 24px 10px;
        outline-width: 0;
        @include media-breakpoint-down(sm2){
            font-size: 20px;
            line-height: 28px;
        }
    }
    span {
        margin-bottom: -20px;
        svg {
            @include general-theme(fill, teal, base);
        }
    }
    }
    p {
        margin-bottom: 24px;
    }
}

//to fix skip links focus behind static header issue. 
#site-main-container{
	&::before{
		display: block;
		content: " ";
		margin-top: -240px;
		height: 240px;
		visibility: hidden;
	}
}