$md1:	0px;
$xl1: 	1920px;

$iconsize:(
	xs1: 	16px,
	sm1: 	24px,
	md1: 	24px,
	lg1: 	24px,
	xl1: 	32px,
);

@mixin iconsize($map, $key) {
  font-size: map-get($iconsize, $key) ;
}

.c-scroll-tabs{
	.nav-tabs{
		overflow-x: auto;
		overflow-y: hidden;
		display: flex;
		display: -moz-box;
		margin-bottom: -25px !important;
		border:0;
		padding: 3px 3px 3px 3px;

		li{
			float:none;
			border-bottom: 2px solid;
			@include other-theme(border-color, blue, account-x-light, red, light, blue, light);
			@include brand-text();
			text-align: center;
			margin-bottom: 0px;
			height: 36px;
			width: 33%;
			@include media-breakpoint-up(xs2) {
				width: auto;
			}

			&.active{
				@include brand-text(bold);
				a{
					border:0px;
					border-bottom: 4px solid;
					@include general-theme(border-color, blue, account);
					background: transparent;
				}
			}
			a {
				border:0px;
				margin: 0px;
				padding: 8px 8px 4px 8px;
				height: 36px;
				width: 100%;
				color: #4a4a4a;
				text-decoration: none;

				@include media-breakpoint-up(xs2){
					min-width: 136px;
				}
				@include media-breakpoint-up(xl1){
					min-width: 152px;
				}
				&:hover{
					background: transparent;
				}

				&:active, &:focus{
					background: transparent;
				}
				div div{
					white-space: nowrap;
				}
				span{
					display:none;
				}
				&:focus{
					@include on-focus();
				}
			}
		}
		&::-webkit-scrollbar {
			display: none;
		}
	}
	.tab-content {
		// height: 50px;
		padding-top: 40px;
	}
}
.c-scroll-tabs--icon{
	.nav-tabs{
		li {
			@include other-theme(border-color, green, x-light, red, light, blue, light);
			height: auto;
			a {
				height: auto;
				margin-bottom: -2px;

				span{
					display:block;
					margin: 0 auto;
					@include general-theme(color, blue, base);
					@each $breakpoint in $breakpoint-groups {
						$key: nth($breakpoint, 1);
						@include media-breakpoint-up($key) {
							@include iconsize($iconsize, $key);
						}
					}
				}
			}

			&.active{
				a{
					@include general-theme(border-color, green, light);
					span{
						@include general-theme(color, blue, base);
					}
				}
			}
		}
	}
}
