
.c-thread {
    border: 1px solid bow-palette(grey, base, base);
    padding: get-px(b) get-px(b) get-px(b) get-px(c);
    margin-bottom: get-px(b);
    white-space: pre-wrap;
    max-width: 640px;

    .c-thread__body {
        margin: 0;
    }
}