@import '../../vendor/bootstrap/buttons';

$btn-border-radius: 5px;

.c-btn {
    @extend .btn;
    @include brand-text('bold');
    border-radius: 0;
    border-width: 1px;
    border-radius: $btn-border-radius;
    font-size: 16px;
	line-height: 22px; 
    padding: 12px 16px;
    text-decoration: none;
    
    &:focus {
        @include common-theme(color, white, base);
        @include on-focus();
    }
    &:focus:active {
        @include common-theme(color, white, base);
        @include general-theme(border-color, blue, account);
        @include general-theme(background-color, blue, account);
        box-shadow: none;
        outline: none;
    }

    @include responsive-min($large) {
		font-size: 18px;
		line-height: 28px;
        padding-top: 9px;
        padding-bottom: 9px;
    }
    &__icon{
        margin-left: 10px;
    }
}

.c-btn--default {
    // @extend .btn-default;
    @include common-theme(color, white, base);
    @include general-theme(border-color, blue, account);
    @include general-theme(background-color, blue, account);

    min-width: 136px;

    @include responsive-min($large) {
        min-width: 152px;
    }
    
    &:hover {
        @include general-theme(border-bottom-color, blue, account-dark);
    }

    &:focus:active {
        @include general-theme(border-top-color, blue, account-dark);
    }

    @include responsive-min($large) {
        min-width: 152px;
    }
}

.c-btn--primary {
    @extend .c-btn--default;
    @include brand-theme(background-color);
    @include general-theme(border-color, blue, account);
    &__icon {
        margin-left: 8px;
    }
}

.c-btn--secondary {
    @extend .btn-primary;
    @include common-theme(background-color, white, base);
    @include general-theme(border-color, blue, account);
    @include general-theme(color, blue, account);
    border-radius: $btn-border-radius;

    &:hover {
        @include common-theme(background-color, white, base);
        @include general-theme(border-color, blue, account);
        @include general-theme(color, blue, account);
        box-shadow: 0 0 0 1px; // No color. We need to use default color for theming.
    }

    &:focus {
        outline: none;
        @include general-theme(color, blue, account);
        @include on-focus();
        background: white;
    }
    &:active,
    &:visited,
    &:focus:active {
        outline: none;
        @include common-theme(background-color, white, base);
        @include general-theme(border-color, blue, account);
        @include general-theme(color, blue, account);
        outline: none;
        box-shadow: 0 0 0 1px;
    }
    
}

.c-btn--success {
    @extend .btn-success;
}

.c-btn--info {
    @extend .btn-info;
}

.c-btn--warning {
    @extend .btn-warning;
}

.c-btn--danger {
    @extend .btn-danger;
}

.c-btn--link {
    @extend .btn-link;
    @include general-theme(color, blue, account);

    &:focus {
       @include general-theme(color, blue, account);
       text-decoration: none;
    }

    &:hover {
        @include general-theme(color, blue, account);
        text-decoration: none;
    }

}

.c-btn--link-icon {
    text-decoration: none;
}

.c-btn--lg {
    @extend .btn-lg;
    min-width: 184px;

    @include responsive-min($large) {
        min-width: 216px;
    }
}

.c-btn--sm {
    @extend .btn-sm;
    min-width: 96px;
}

.c-btn--xs {
    @extend .btn-xs;
    min-width: auto;
    padding-left: 8px;
    padding-right: 8px;

    @include responsive-min($large) {
        min-width: auto;
    }
}

.c-btn--loading {
    @include other-theme(background-color, blue, light, red, light, blue, light);
    @include other-theme(border-color, blue, light, red, light, blue, light);
    cursor: default;
    height: 48px;
    pointer-events: none;

    .loader-icon {
        @extend %rotating;
        fill: white;
        margin-right: 16px;
    }

    span {
        display: flex;
    }
}

.c-btn--default[disabled],
.c-btn--default:disabled,
.c-btn--secondary[disabled],
.c-btn--secondary:disabled {
    @include common-theme(background-color, grey, light);
    @include common-theme(border-color, grey, light);

    @include common-theme(color, grey, text);
    opacity: 1;
}

.c-btn--icon-only {
    height: 32px;
    width: 32px;
    padding: 7px;

    font-size: 16px;
    line-height: 16px;

    .icon {
        height: 16px;
        width: 16px;
    }
}