<!DOCTYPE html>
<html lang="en">

    <head>
    <link rel="shortcut icon" href="favicon.ico" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document Portal</title>
    <link rel="stylesheet" href="/css/app.cb.css" />
    </head>

    <body>
    <div id="secure-messaging"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    <script>
        var myDocuments = document.URL.lastIndexOf('my-documents') > 0 ? true : false;
        var path = document.URL.substr(0,document.URL.lastIndexOf(myDocuments ? 'my-documents' : 'securemessages'));
        window.path = path;
        const config = {
            bpiApiUrl: "http://localhost:8888",
            ibApiUrl: "https://int3ibapi.nonprod.obps.io",
            accessToken: "<%= htmlWebpackPlugin.options.ACCESS_TOKEN %>",
            baseURI: "",
            customerId: "CB",
            customerNumber: "1098045982",
            customerName: "",
            scope: "40",
            scopeCreatedDate: null,
            staffId: "SR0765",
            appTitle: "MEO",
            bankId: "CB",
            brandId: "CB",
            client_context: "CB%20Web"
        };
       typeof window.cybgSecureMessagingUI === "function" && window.cybgSecureMessagingUI(config, "secure-messaging");
    </script>
    </body>

</html>
