@import '../../vendor/bootstrap/modals';

.c-modal {
	color: bow-palette(grey,text);
	@extend .modal;
	&::before{
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}

	.modal-title {
		@extend .type--mull; 
		@include brand-heading(bold);
	}
	.c-modal__header,
	.c-modal__footer {
		border: 0;
		height: auto;
		padding: 0;
		min-height: auto;
	}
	.c-modal__footer {
		.c-modal__footer__center{
			text-align: center;
		}
	}
	 .c-modal__body{
		@extend .type--jura;
		padding: 0;	
		@include brand-text();
		&--padding{
			padding: 16px 0px;
		}
	}
	.c-modal__button{
		@include media-breakpoint-down(sm1) {
			margin-top: 5px;
		}
		
	}

	.modal-content {
		border-radius: 5px;
		min-width: 280px;
	}

	.close:focus {
		//color: $accessibility;
		@include on-focus();
	}
	
	.c-modal__header{
		// .close{
		// 	right: 0;
		// 	top: 0;
		// 	position: absolute;
		// 	padding: 8px;
		// 	color: bow-palette(grey,dark);
		// 	font-family: inherit;
		// 	background: none;
		// 	opacity: 1;
		// 	margin-top: 0;
		// 	&:hover{
		// 		color: bow-palette(grey,x-dark);
		// 	}
		// }
		span{
			display: none;
		}
		.close{
			color: bow-palette(grey,dark);
			opacity: 1;
			padding: 0;
			margin: 8px;
			position: absolute;
			top: 0;
			right: 0;
			&::before{
				content: "\5d";
				font-family: "webfonts";
			}
			&:hover{
				color: bow-palette(grey,x-dark);
			}
		}
		svg.account-success {
		@include general-theme(fill, green, light);
	}
	}

	.modal-sm{
		.modal-content{
			padding: 24px;
			@include media-breakpoint-up(xl1) {
				padding: 48px;
			}
		}
		.c-modal__header{
			.close{
				font-size: 16px;
				line-height: 16px;
				height: 16px;
				@include media-breakpoint-up(xl1) {
					font-size: 32px;
					line-height: 32px;
					height: 32px;
				}
			}
		}
	}
	
	.modal-lg, .modal-md{
		.modal-content{
			padding: 24px;
			@include media-breakpoint-up(sm1) {
				padding: 32px;
			}
			@include media-breakpoint-up(lg1) {
				padding: 40px;
			}
			@include media-breakpoint-up(xl1) {
				padding: 48px;
			}
		}
		.c-modal__header{
			.close{
				font-size: 16px;
				line-height: 16px;
				height: 16px;
				@include media-breakpoint-up(lg1) {
					font-size: 24px;
					line-height: 24px;
					height: 24px;
				}
				@include media-breakpoint-up(xl1) {
					font-size: 32px;
					line-height: 32px;
					height: 32px;
				}
			}
		}
	}
}

.c-modal--center{
	.c-modal__header,
	.c-modal__footer,
	.c-modal__body{
		@extend .u-text-center;
	} 
}

.c-modal--iframe{
	.modal-dialog, 
	.modal-content{
		@include media-breakpoint-down(xs1) {
			height: 100%;
		}
	}
	.c-modal__body{
		@include media-breakpoint-down(xs1) {
			overflow: auto;
			height: 100%;
		}
		iframe#statements{
			@include media-breakpoint-down(xs1) {
				height: 100%;
			}
		}
		
		
	} 
}



.modal-backdrop {
    position: fixed;
    bottom: 0;
    height: auto !important;
	z-index: 150;
	border: 1px solid rgba(0, 0, 0, .5);
}

 
.p-products__modalimage{
    margin: 0 auto;
}

.c-modal--spinner {
	.c-modal__body {
		min-height: 290px;
	}
}
