.floatingActionButton {
  box-sizing: border-box;
  color: #fff;
  border: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  letter-spacing: 1px;
  text-indent: -9999px;
  text-overflow: initial;
  font-family: Segoe UI, system-ui, -apple-system, sans-serif;
  font-size: 0.875em;
  font-weight: 600;
  height: 56px;
  width: 56px;
  position: relative;
  box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px 0 rgb(0 0 0 / 14%),
    0 1px 10px 0 rgb(0 0 0 / 12%);
  background-color: #3740ff;
}

.label {
  width: 100%;
}
