
// Mixin for multiple font faces
@mixin font-face($font-family, $file-path, $extension, $format) {
	@font-face {
		font-family: $font-family;
		font-style: normal;
		font-weight: normal;
		// src: url('#{$file-path}.eot');
		// src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
				 src: url('#{$file-path}.#{$extension}') format($format)
				//  url('#{$file-path}.svg##{$font-family}') format('svg');
	}
}

@mixin font-face-otf($font-family, $file-path, $extension, $format) {
	@font-face {
		font-family: $font-family;
		font-style: normal;
		font-weight: normal;
		src: url('#{$file-path}.eot');
		src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
				 url('#{$file-path}.#{$extension}') format($format);
				//  url('#{$file-path}.svg##{$font-family}') format('svg');
	}
}


//--Galano Grotesque For Headings

@include font-face-otf(GalanoGrotesqueRegular, '../fonts/heading/GalanoGrotesque-Regular', 'otf', 'opentype');
@include font-face-otf(GalanoGrotesqueSemiBold, '../fonts/heading/GalanoGrotesque-SemiBold', 'otf', 'opentype');


//--Muli for text
@include font-face(MuliRegular, '../fonts/text/Muli-Regular', 'ttf', 'opentype');
@include font-face(MuliBold, '../fonts/text/Muli-Bold', 'ttf', 'opentype');
@include font-face(MuliItalic, '../fonts/text/Muli-Italic', 'ttf', 'opentype');
@include font-face(MuliBoldItalic, '../fonts/text/Muli-BoldItalic', 'ttf', 'opentype');

//--Houschka for CB and YB Brand
@include font-face(CYBHouschkaAltProBold, '../fonts/cyb/heading/CYBHouschkaAltPro-Bold', 'otf', 'opentype');
@include font-face(CYBHouschkaAltProLight, '../fonts/cyb/heading/CYBHouschkaAltPro-Light', 'otf', 'opentype');
@include font-face(CYBHouschkaAltProMedium, '../fonts/cyb/heading/CYBHouschkaAltPro-Medium', 'otf', 'opentype');

//-- SF text
@include font-face(SFRegular, '../fonts/cyb/body/sf-ui-regular', 'otf', 'opentype');
@include font-face(SFBold, '../fonts/cyb/body/sf-ui-bold', 'otf', 'opentype');
@include font-face(SFBoldItalic, '../fonts/cyb/body/sf-ui-bold-italic', 'otf', 'opentype');
@include font-face(SFItalic, '../fonts/cyb/body/sf-ui-italic', 'otf', 'opentype');

//-- Source Sans Pro
@include font-face(SourceSansProRegular, '../fonts/base/SourceSansPro-Regular', 'otf', 'opentype');
@include font-face(SourceSansProSemiBold, '../fonts/base/SourceSansPro-SemiBold', 'otf', 'opentype');
@include font-face(SourceSansProBold, '../fonts/base/SourceSansPro-Bold', 'otf', 'opentype');
@include font-face(SourceSansProItalic, '../fonts/base/SourceSansPro-Italic', 'otf', 'opentype');
@include font-face(SourceSansProBoldItalic, '../fonts/base/SourceSansPro-BoldItalic', 'otf', 'opentype');

// B Heading font
// $heading-regular: GalanoGrotesqueRegular;
// $heading-semibold: GalanoGrotesqueSemiBold;


// B Heading font
// $dyb-light: GalanoGrotesqueLight;
$dyb-regular: GalanoGrotesqueRegular;
// $dyb-medium: GalanoGrotesqueMedium;
$dyb-semibold: GalanoGrotesqueSemiBold;
// $dyb-bold: GalanoGrotesqueBold;

// CB-YB heading font
$cyb-medium: CYBHouschkaAltProMedium;
$cyb-light: CYBHouschkaAltProLight;
$cyb-bold: CYBHouschkaAltProBold;

// // B body font
// $text-regular: MuliRegular;
// $text-bold: MuliBold;
// $text-italic: MuliItalic;
// $text-bold-italic: MuliBoldItalic;

// Base Font
$base-regular: SFRegular;
$base-italic: SFItalic;
$base-bold: SFBold;
$base-bold-italic: SFBoldItalic;

// B body font
$dyb-body-regular: MuliRegular;
$dyb-body-semibold: MuliSemiBold;
$dyb-body-bold: MuliBold;
$dyb-body-italic: MuliItalic;
$dyb-body-bold-italic: MuliBoldItalic;

// CB-YB body font
$cyb-body-regular: SourceSansProRegular;
$cyb-body-semibold: SourceSansProSemiBold;
$cyb-body-bold: SourceSansProBold;
$cyb-body-italic: SourceSansProItalic;
$cyb-body-bold-italic: SourceSansProBoldItalic;