///*----------------------------------*\
//  #GRID - CONTAINER PADDINGS
//\*----------------------------------*/


@mixin container-padding($breakpoint) {
	@include media-breakpoint-up($breakpoint) {
		padding-left: map-get($container-padding, $breakpoint);
		padding-right: map-get($container-padding, $breakpoint);

    }
}

@mixin page-top__bottom-padding($breakpoint) {
	@include media-breakpoint-up($breakpoint) {
		padding-top: map-get($page-top-padding, $breakpoint);
		padding-bottom: map-get($page-bottom-padding, $breakpoint);
    }
}
