.c-defs{
    @extend %jura;
    font-family: $text-regular;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    border: 1px solid #7B59F7;
    border-radius: 5px;
    background: white;
    width: 100%;
    overflow: hidden;
    .c-defs__key{
        width: 25%;
        padding: 8px 16px;
        height: 100%;
        text-align: right;
        border-right: 1px solid #7B59F7;
        background: #7B59F7;
        color: white;
        float: left;
        margin-right: 16px;
    }
    .c-defs__value {
        padding: 8px 16px;
        margin: 0;
        text-align: left;
    }
    .c-defs__row{
        width: 100%;
        &:nth-of-type(even){
            background: #F8F7FF;
        }
    }
}

.p-summary__defs{
    width: 40%;
}