.c-inputbox{
    @extend %jura;
    background: white;
    border: 1px solid #4a4a4a;
    border-radius: 5px;
    color: #4a4a4a;
    margin: 8px 0px;
    padding-left: 16px;
    height: 48px;
    &:disabled{
        border-color: #d8d8d8;
        color: #D8D8D8;
    }
}