
.c-modal{
    @extend .modal;
    &:before{
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
    .c-modal__header {
        padding: 0px 8px;
        border: 0;
    }
    .c-modal__footer {

    }
    .c-modal__title {
        clear: right;
        @extend %mull;
        font-family: $heading-semibold;
        margin-top: 8px;
    }
    .modal-content {
        border: 1px solid #4a4a4a;
        color: #4a4a4a;
        border-radius: 5px;
        padding: 8px;
    }
    .c-modal__body{
        padding: 8px;
    }
    .c-modal__footer{
        padding: 8px;
        border: 0;
    }
    .close {
        float: right;
        margin: 0px -8px;
        height: 32px;
        width: 32px;
        border: 0;
        background: white;
        font-size: 32px;
        line-height: 32px;
        font-family: inherit;
        position: relative;
        padding: 8px;
        color: #4a4a4a;
        overflow: hidden;
        cursor: pointer;
        &:hover{
            color: mix(black, #4a4a4a , 50%);
        }
        span {
            position: absolute;
            top: -3px;
            left: 6px;
        }
    }
    .modal-dialog {
        display: inline-block;
        vertical-align: middle;
    }
}
.modal-backdrop {
    position: fixed;
    bottom: 0;
    height: auto !important;
    z-index: 150;
}

.c-modal--center{
    text-align: center;
    .c-modal__footer{
        text-align: center;
    }
}

.modal-open{
    padding: 0 !important;
}

