.p-summary__holder {
    background: white;
    padding: 24px;
    border-radius: 5px;
    width: 75%
}
.p-summary__header__status{
    color: #799A58;
}

.p-summary__header{
    h5{
        margin: 0;
    }
}

.p-summary_sub{
    @extend %uist;
}