.spinner{

    position: absolute;
    background: #fff;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
}
.spinner-loader{
    height: 64px;
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
    width: 64px;
    transition: .3s all ease;
    // &:before {
    //     content: "";
    //     background: white;
    //     position: fixed;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    // }
    svg{
        animation: rotating 2s linear infinite;
        fill: #4a4a4a;
    }
}

@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }