//Heading

h1{
    @extend %mull;
    font-family: $heading-regular;
}

h2{
    @extend %islay;
    font-family: $heading-regular;
}

h3, blockquote{
    @extend %orkney;
    font-family: $heading-regular;
}

h4{
    @extend %arran;
    font-family: $heading-regular;
}

h5, h6, p, ul, ol, a {
    @extend %jura;
    margin: 0;
    margin-bottom: 16px;
    font-family: $text-regular;
}

a{
    color: #7B59F7;
}

hr{
    margin-bottom: 16px;
}

body{
    color: #4a4a4a;
    font-family: $text-regular;
    @extend %jura;
}
