@import '../2-tools/breakpoints';
@import '../1-settings/gridBreakpoints';



// LEWIS
%lewis{
    font-size: 37px;
    line-height: 44px;

    @include responsive-min($small) {
		font-size: 39px;
		line-height: 44px;
    }

	@include responsive-min($medium) {
		font-size: 45px;
		line-height: 48px;
    }

	@include responsive-min($large) {
		font-size: 52px;
		line-height: 60px;
    }

	@include responsive-min($xlarge) {
		font-size: 63px;
		line-height: 68px;
    }
}

// SKYE

%skye{
    font-size: 32px;
    line-height: 36px;

    @include responsive-min($small) {
		font-size: 34px;
		line-height: 36px;
    }

	@include responsive-min($medium) {
		font-size: 40px;
		line-height: 44px;
    }

	@include responsive-min($large) {
		font-size: 52px;
		line-height: 60px;
    }

	@include responsive-min($xlarge) {
		font-size: 62px;
		line-height: 68px;
    }
}

// SHETLAND

%shetland{
    font-size: 29px;
    line-height: 36px;

    @include responsive-min($small) {
		font-size: 30px;
		line-height: 36px;
    }

	@include responsive-min($medium) {
		font-size: 34px;
		line-height: 40px;
    }

	@include responsive-min($large) {
		font-size: 39px;
		line-height: 44px;
    }

	@include responsive-min($xlarge) {
		font-size: 44px;
		line-height: 52px;
    }
}

// MULL

%mull{
   font-size: 26px;
    line-height: 32px; 

    @include responsive-min($small) {
		font-size: 27px;
    line-height: 32px;
    }

	@include responsive-min($medium) {
		font-size: 29px;
		line-height: 36px;
    }

	@include responsive-min($large) {
		font-size: 33px;
		line-height: 40px;
    }

	@include responsive-min($xlarge) {
		font-size: 37px;
		line-height: 44px;
    }
}

// ISLAY


%islay{
   font-size: 23px;
    line-height: 28px; 

    @include responsive-min($small) {
		font-size: 24px;
    line-height: 32px;
    }

	@include responsive-min($medium) {
		font-size: 25px;
    line-height: 32px;
    }

	@include responsive-min($large) {
		font-size: 28px;
		line-height: 36px;
    }

	@include responsive-min($xlarge) {
	font-size: 31px;
		line-height: 40px;
    }
}

// ORKNEY

%orkney{
    font-size: 20px;
    line-height: 28px;

    @include responsive-min($small) {
		font-size: 21px;
		line-height: 28px;
    }

	@include responsive-min($medium) {
		font-size: 22px;
		line-height: 28px;
    }

	@include responsive-min($large) {
		font-size: 25px;
		line-height: 32px;
    }

	@include responsive-min($xlarge) {
		font-size: 26px;
		line-height: 36px;
    }
}

// ARRAN

%arran{
    font-size: 18px;
    line-height: 24px;

    // @include responsive-min($sm1) {
		// font-size: 18px;
		// line-height: 24px;
    // }

	@include responsive-min($medium) {
		font-size: 19px;
		line-height: 28px;
    }

	@include responsive-min($large) {
		font-size: 21px;
		line-height: 28px;
    }

	@include responsive-min($xlarge) {
		font-size: 22px;
		line-height: 32px;
    }
}

// JURA


%jura{
    font-size: 16px;
    line-height: 24px;

	@include responsive-min($large) {
		font-size: 18px;
		line-height: 28px;
  }
}

%jura--label{
	font-size: 16px;
    line-height: 20px;

	@include responsive-min($large) {
		font-size: 18px;
		line-height: 24px;
  }
}

// UIST

%uist{
    font-size: 14px;
    line-height: 20px;

    @include responsive-min($large) {
        font-size: 16px;
        line-height: 24px;
    }

}

// BUTE

%bute{
    font-size: 12px;
    line-height: 16px;

    @include responsive-min($small) {
    font-size: 13px;
    line-height: 20px;
    }

    @include responsive-min($xlarge) {
    font-size: 14px;
    line-height: 20px;
    }
}

// CUMBRAE

%cumbrae{
    font-size: 11px;
    line-height: 16px;

    @include responsive-min($small) {
		font-size: 12px;
		line-height: 16px;
    }

	@include responsive-min($medium) {
		font-size: 12px;
		line-height: 16px;
    }

	@include responsive-min($large) {
		font-size: 12px;
		line-height: 16px;
    }

	@include responsive-min($xlarge) {
		font-size: 13px;
		line-height: 16px;
    }
}












// H1 Mull
// H2 Islay
// H3 Orkney
// H4 Arran
// H5 Jura
// H6 Jura

